
@mixin placeholder {
	$placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
	@each $placeholder in $placeholders {
		&:#{$placeholder} -placeholder {
			@content;
		}
	}
}

%primary-color {
	color: $primary;
}

%primary-bg {
	background-color: $primary;
}

/** $primary-lighter **/
%primary-border {
	border-color: $primary;
}

%primary-lighter-color {
	color: $primary-lighter;
}

%primary-lighter-bg {
	background-color: $primary-lighter;
}

%primary-lighter-border {
	border-color: $primary-lighter;
}

%secondary-color {
	color: $secondary;
}

%secondary-border {
	border-color: $secondary;
}

%secondary-light-bg {
	background-color: $secondary-light;
}

%secondary-light-border {
	border-color: $secondary-light;
}

h1, h2, h4, h5, h6 {
	@extend %primary-color;
}

blockquote {
	@extend %secondary-light-bg;
	@extend %primary-border;
}

code {
	@extend %secondary-light-bg;
}

pre {
	@extend %secondary-light-bg;
	@extend %secondary-light-border;
}

hr {
	@extend %secondary-border;
}

abbr,
acronym {
	@extend %secondary-border;
}

mark,
ins {
	@extend %secondary-light-bg;
}

::-moz-selection {
	background-color: $primary;
}

::selection {
	background-color: $primary;
}

a {
	@extend %primary-color;

	&:hover {
		@extend %primary-color;
	}

	&:active,
	&:focus {
		@extend %primary-color;
	}
}

.button-wrap {
	@extend %primary-lighter-bg;
}

.button-frame {
	@extend %secondary-border;
}

button:hover,
button:focus,
input:hover[type="button"],
input:focus[type="button"],
input:hover[type="reset"],
input:focus[type="reset"],
input:hover[type="submit"],
input:focus[type="submit"],
.button:hover,
.button:focus {
	@extend %primary-color;
}

//#{$all-text-inputs},
input,
select,
textarea {
	@extend %primary-lighter-border;
}

//#{$all-text-inputs-hover},
input:hover,
textarea:hover {
	@extend %primary-border;
}

//#{$all-text-inputs-focus},
input:focus,
textarea:focus {
	@extend %primary-border;
}

fieldset {
	@extend %secondary-border;
}

.entry-title a:hover,
.entry-title a:focus {
	@extend %primary-lighter-color;
}

.search-form {
	button[type=submit] {
		&::before {
			@extend %primary-color;
		}
	}
}

.featured-content {
	.entry {
		@extend %secondary-border;
	}
}

.site-title {
	@extend %secondary-color;
	a {
		@extend %secondary-color;
		&:hover {
			@extend %secondary-color;
		}
	}
}

.site-description {
	@extend %primary-color;
	a {
		@extend %primary-color;
		&:hover {
			@extend %primary-color;
		}
	}
}

.footer {
	@extend %secondary-light-bg;
}

.comment-respond,
.entry-comments,
.entry-pings {
}

.comment {
	@extend %secondary-border;
}

.comment-content {
}

.pingback,
.trackback {
	@extend %primary-bg;
	@extend %secondary-border;
}

.form-allowed-tags {
	@extend %primary-lighter-bg;
	@extend %secondary-border;
}

.gallery-item {

	.gallery-caption {
		@extend %primary-lighter-bg;
	}
}

tbody {
	@extend %primary-border;
}

td,
th {
	@extend %primary-border;
}

.author-box {
	@extend %secondary-border;
}

.media-info-toggle::after {
	@extend %primary-color;
}

.mejs-button button::after {
	@extend %primary-color;
}

.mejs-unmute button::after {
	@extend %primary-color;
}

.corner-ribbon {

	.ribbon-content {
		@extend %primary-lighter-bg;
		@extend %secondary-color;
	}
}

.widget-title {
	@extend %primary-color;
}

.pagination {

	.page-numbers {
		@extend %primary-bg;
		@extend %primary-border;
	}

	.current {
		@extend %primary-bg;
	}

	a {

		&:hover,
		&:focus {
			@extend %primary-lighter-bg;
			@extend %primary-lighter-border;
		}
	}
}

.nav-single {

	.nav-next a:hover,
	.nav-previous a:hover,
	.nav-next a:focus,
	.nav-previous a:focus {
		@extend %primary-color;
	}
}

.page-links {

	span,
	a {
		@extend %primary-border;
	}

	span {
		@extend %primary-bg;
	}

	a {
		@extend %primary-bg;

		&:hover,
		&:focus {
			@extend %primary-lighter-bg;
		}
	}
}

.menu-after-header {

	li > a {
	}

	li > a:hover,
	li > a:focus,
	.current-menu-item > a,
	.current-menu-ancestor > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus {
		@extend %secondary-color;
	}

	.sub-menu {
		background-color: $primary-medium;
		a {
			&:hover,
			&:focus{
				@extend %primary-bg;
			}
		}
		&:after {
			color: $primary-medium;
		}
	}

	> .right {
		@extend %primary-color;
	}
}

.nav-menu.after-header > .menu-item::before {
	@extend %primary-color;
}

.menu-button {
	@extend %primary-bg;

	&:hover,
	&:focus {
		@extend %primary-lighter-bg;
	}
}

.sidr {
	@extend %primary-bg;

	.nav-menu {

		li a {

			&:hover {
				@extend %primary-lighter-bg;
			}
		}
	}

	.sub-menu {

		li a {
			@extend %primary-bg;
		}
	}
}
