button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	cursor: pointer;
	font-weight: 400;
	@include rem(padding, 10px 20px);
	text-transform: lowercase;
	width: auto;
	font-weight: 400;
	@include rem(font-size, $h3-font-size);
	background-color: transparent;
	border: none;
}

.button-wrap {
	display: inline-block;
}

.button-frame {
	border-style: dashed;
	border-width: 1px;
	transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	background-color: transparent;

	> * {
		-webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
	}

	:focus {
		outline-width: 0;
	}
}

.button-framed {
	margin-top: 8px;
	margin-bottom: 8px;
	.button-frame {
		top: 4px;
		left: -3px;
	}
}

button:hover,
button:focus,
input:hover[type="button"],
input:focus[type="button"],
input:hover[type="reset"],
input:focus[type="reset"],
input:hover[type="submit"],
input:focus[type="submit"],
.button:hover,
.button:focus {

}

.button {

}
