#{$all-text-inputs},
select,
textarea {
	@include rem(font-size, $form-font-size);
	font-weight: 400;
	padding: 8px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
}

input[type="color"] {
	width: 40px;
}

#{$all-text-inputs-focus},
textarea:focus {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}


input[type="file"],
input[type="range"],
#{$all-button-inputs}{
	box-shadow: none;
}

input {
	@include placeholder {
		opacity: 1;
		font-weight: 400;
	}
}

fieldset {
	border-style: dashed;
	@include rem(padding, 20px);
}