table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 30px;
	width: 100%;
}
tbody {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

td,
th {
	padding: 10px 0;
	text-align: left;
	border-top-width: 1px;
	border-top-style: solid;
}

th {
	font-weight: 400;
}
