html {
	font-size: 62.5%;
}

body {
	font-family: $base-font-family;
	@include rem(font-size, $secondary-font-size);
	font-weight: 400;
	line-height: $base-line-height;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	background-position: 0 0;
	background-repeat: repeat-x;

	@include respond-to(small) {
		@include rem(font-size, $base-font-size);
	}
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	@include transition(all, .1s, ease-in-out);
}

a {
	@include transition(color .1s linear);
	text-decoration: none;

	&:active,
	&:focus {
		outline: none;
	}
}

p {
	@include rem(margin, 0 0 26px);
	padding: 0;
}

b,
strong {
	font-weight: 600;
}

hr {
	border: 0;
	border-bottom-size: 1px;
	border-bottom-style: dotted;
	@include rem(margin, 20px 0);
}

pre {
	position: relative;
	font-family: $monospace;
	@include rem(font-size, $secondary-font-size);
	@include rem(margin-bottom, 26px);
	padding: 3% 10% 3% 5%;
	overflow: auto;
	max-width: 100%;
	tab-size: 4;
	border-width: 1px;
	border-style: solid;
}

code,
kbd,
tt,
var {
	font-family: $monospace;
	@include rem(font-size, 15px);
}

address {
	font-style: italic;
	@include rem(margin, 0 0 26px);
}

abbr,
acronym {
	cursor: help;
	border-bottom-size: 1px;
	border-bottom-style: dotted;
}

mark,
ins {
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	font-family: $blockquote-font-family;
	font-style: italic;
	@include rem(margin, 40px);
	border-left-width: 10px;
	border-left-style: solid;

	cite {
		display: block;
		font-family: $base-font-family;
		font-style: normal;
		@include rem(margin-top, 15px);

		&::before {
			content: '\2014';
			@include rem(padding-right, 10px);
		}
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
	font-weight: 400;
	line-height: $header-line-height;
	@include rem(margin, 0 0 10px);
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
	@include rem(font-size, $h1-font-size);
}

h2 {
	@include rem(font-size, $h2-font-size);
}

h3 {
	@include rem(font-size, $h3-font-size);
}

h4 {
	@include rem(font-size, $h4-font-size);
}

h5 {
	@include rem(font-size, $h5-font-size);
}

h6 {
	@include rem(font-size, $h6-font-size);
}

button,
input[type="button"],
.nav-next,
.nav-previous,
input[type="reset"],
input[type="submit"],
.button,
.nav-menu.after-header > li > a,
.heading-font,
.whistles-tabs .whistles-tabs-nav li a,
.whistles-toggle .whistle-title {
	font-family: $header-font-family;
}

.site-title,
.site-description {
	font-family: $serif;
}

.site-title {
	@include rem(font-size, 40px);
}

.site-description {
	@include rem(font-size, 18px);
}
