//http://www.sitepoint.com/managing-responsive-breakpoints-sass/

$breakpoints: (
		'small'  : em(420),
		'medium' : em(600),
		'large'  : em(920)
);

@mixin respond-to($breakpoint) {
	// Retrieves the value from the key
	$value: map-get($breakpoints, $breakpoint);

	// If the key exists in the map
	@if $value != null {
		// Prints a media query based on the value
		@media (min-width: $value) {
			@content;
		}
	}

		// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
	}
}

// Define the max width of your main grid container.
$max-width: em(1040);

$container-max-width: $max-width; /* 1000px */
$gutter-half: em(20); /* 20px */
$unsemantic-ie7-support: false;

$media-mobile-max: map-get($breakpoints, medium);
$media-desktop-min: map-get($breakpoints, large);

$sidr-item-padding:   em(20);
$corner-ribbon-size:  85px;