
$menu: #9b8d70;
$body: #725d4f;
$form-box-shadow: inset 2px 3px 3px rgba(#151819, .1);

/** Common Colors **/

%white-color {
	color: #ffffff;
}

%white-bg {
	background-color: #ffffff;
}

%white-border {
	border-color: #ffffff;
}

%text-color {
	color: $body;
}

%menu-color {
	color: $menu;
}

body {
	color: $body;
	@extend %white-bg;
}

::-moz-selection {
	color: #ffffff;
}

::selection {
	color: #ffffff;
}

#respond label .required {
	color: #cb5700;
}

.comments-nav .page-numbers {
	color: #959595;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	@extend %text-color;

}

//#{$all-text-inputs},
input,
select,
textarea {
	@extend %white-bg;
	box-shadow: $form-box-shadow;
}

input {
	@include placeholder {
		@extend %text-color;
	}
}

.entry-content .button:hover,
.entry-content .button:focus {
	@extend %white-color;
}

.search-form {
	button[type=submit] {
		background: #ffffff;
		&::after {
			@extend %white-color;
		}
	}
}

.footer {

	&:before {
		@extend %white-bg;
	}
	&:after {
		@extend %white-bg;
	}
}

.comment-respond,
.entry-comments,
.entry-pings {
}

.comment-respond label[for='author']::before,
.comment-respond label[for='email']::before,
.comment-respond label[for='url']::before,
.comment-respond label[for='comment']::before {
	@extend %text-color;
}

.gallery-item {

	.gallery-caption {
		@extend %text-color;
	}
}

.widget li a,
.widget li a:hover,
.widget li a:focus {
	@extend %text-color;
}

.footer-widgets {
	background: url('images/dashed_border.png') 0 0 repeat-x;
}

.pagination {
	a {
		@extend %white-color;
	}
}

.nav-single {

	.nav-next a,
	.nav-previous a {
		@extend %text-color;
	}
}

.page-links {

	span,
	a {
		@extend %white-color;
	}

	a {
		&:hover,
		&:focus {
			@extend %white-color;
		}
	}
}

.menu-after-header {
	@extend %white-bg;

	li > a {
		@extend %menu-color;
	}

	.sub-menu {
		@extend %white-bg;
		a {
			@extend %text-color;
			@extend %white-border;
			&:hover,
			&:focus{
				@extend %white-color;
			}
		}
	}

	> .right {
	}
}

.menu-button {
	@extend %white-color;

	&:hover,
	&:focus {
		@extend %white-color;
	}
}

.sidr {

	.nav-menu {

		li a {
			@extend %white-color;
			@extend %white-border;

			&:hover {
				@extend %white-color;
			}
		}
	}

	.sub-menu {

		li a {
			@extend %white-color;
			@extend %white-border;
		}
	}
}

$colors: "pink", "blue", "green", "purple", "gold", "silver";

@each $color in $colors {
	.skin-#{$color} {
		background-image: url('images/#{$color}_header.png');

		& #footer:before {
			background-image: url('images/#{$color}_footer.png');
		}

		.soliloquy-theme-pink-petals {

			.soliloquy-wrapper {
				&:before {
					background: url('images/#{$color}_slider_bottom.png') 0 0 no-repeat;
				}
				&:after {
					background: url('images/#{$color}_slider.png') 0 0 no-repeat;
				}
			}
		}
	}
}