/* Flagship
--------------------------------------------- */

.breadcrumbs {
	margin-bottom: 15px;
}

.loop-meta,
.author-box {
	margin-bottom: 30px;
}

.author-box {
	padding: 20px;
	border-width: 1px;
	border-style: dashed;

	.social-icons {
		display: block;
		padding-top: 26px;

		li {
			display: inline-block;
			margin: 0 5px 5px;
		}
	}
}

.author-box-title {
	margin-bottom: 4px;
}

.loop-meta p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

.archive-title {
	@include rem(font-size, $archive-title-size);
	font-weight: 600;
}

/* Search Form
--------------------------------------------- */

.search-form {
	position: relative;
	display: block;
	width: 100%;
	@include rem(padding-right, 50px);

	input[type=search] {
		@include appearance(none);
		@include rem(font-size, 13px);
		width: 100%;
	}

	button[type=submit] {
		@include position(absolute, 0 0 0 null);
		outline: none;
		border: none;

		&::before {
			@include rem(font-size, 30px);
			line-height: 1;
			position: absolute;
			@include rem(top, 3px);
			@include rem(left, -5px);
		}

		&::after {
			@include rem(font-size, 12px);
			line-height: 1;
			position: absolute;
			@include rem(left, 11px);
			@include rem(top, 11px);
			z-index: 2;
		}
	}
}

/* Post Password Form
--------------------------------------------- */

.post-password-form {

	input {
		display: block;
		width: 100%;
	}

	input[type="password"] {
		display: block;
		margin-bottom: 20px;
	}
}

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.format-status .avatar {
	margin-right: 20px;
}

/* WordPress
--------------------------------------------- */

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;

	.avatar {
		margin-left: 24px;
	}
}

a.alignleft,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 26px;
}

img.alignnone,
.alignnone {
	margin-bottom: 26px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 26px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 26px 24px;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

/* Screen Readers
--------------------------------------------- */

.off-screen,
.screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;

	&:focus {
		outline: 0;
	}
}

.skip-link .screen-reader-text:focus {
	clip: auto;
	height: auto;
	margin: 20px;
	padding: 15px;
	width: auto;
	z-index: $screen-reader-z-index;
}
