.comment-respond,
.entry-comments,
.entry-pings {
	@include rem(margin-bottom, 40px);
}

.comment-respond,
.entry-pings {
	@include rem(padding, 20px 20px 0);

    @include respond-to(small) {
		@include rem(padding, 40px 40px 16px);
	}
}

.comments-number {
	border-bottom: 0;
	display: block;
	margin-bottom: 0;
}

.entry-comments {
	padding: 20px;

	@include respond-to(medium) {
		padding: 40px;
	}

	.comment-author {
		margin-bottom: 0;
	}
}

.comment-header {
	@include rem(font-size, $secondary-font-size);
}

.comment-meta {
	padding-bottom: 15px;
}

.comment {
	border-width: 1px;
	border-style:  dotted;

	.avatar {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;

		@include respond-to(medium) {
			float: left;
			margin: 0 16px 24px 0;
		}
	}
}

.comment-content {
	clear: both;

	p,
	> ol,
	> ul,
	> dl {
		margin-bottom: 26px;
	}

	ol,
	ul {
		margin-left: 40px;
	}

	li {
		margin-bottom: 2%;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	li ol,
	li ul {
		margin-top: 2%;
	}

	blockquote {
		margin: 30px 0 30px 5%;
		padding: 0 5%;
	}

	table {
		border-collapse: separate;
		border-left: 0;
		margin: 20px 0;
		width: 100%;
	}

	table th,
	table td {
		line-height: 1.2;
		padding: 10px;
		text-align: left;
		vertical-align: top;
	}

	table thead:first-child tr:first-child th,
	table tbody:first-child tr:first-child th,
	table tbody:first-child tr:first-child td {
		border-top: 0 none;
	}

	code {
		padding: 2px 4px;
	}
}

.comment-list {

	.comment {
		margin-bottom: 20px;
		padding: 20px;

		@include respond-to(medium) {
			padding: 30px;
		}

		.comment {
			border-right: 0;
			margin-right: -20px;
			margin-top: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			@include respond-to(medium) {
				margin-right: -30px;
				margin-top: 30px;
			}
		}
	}
}

.pingback,
.trackback {
	border-width: 1px;
	border-style: solid;
	margin-bottom: 20px;
	padding: 20px 20px 5px;

	@include respond-to(medium) {
		padding: 30px 30px 15px;
	}
}

.comment-respond label {
	display: block;
}

.entry-pings .reply {
	display: none;
}

.form-allowed-tags {
	@include rem(font-size, $secondary-font-size);
	@include rem(padding, 10px);
	border-style: dashed;
	border-width: 1px;
}
