/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 30px;
	padding: 0;
	position: relative;
}

.entry-title {
	font-weight: 600;
}

.corner-ribbon {
	overflow: hidden;
	position: absolute;
	right: -1px;
	@include size($corner-ribbon-size);
	top: -1px;

	.ribbon-content {
		font-size: .8em;
		font-weight: 800;
		margin: 0;
		position: relative;
		padding: 2px 7px;
		left: -5px;
		text-align: center;
		top: 15px;
		@include transform(rotate(45deg));
		width: 120px;
	}
}

.rtl .ribbon-content {
	@include transform(rotate(-45deg));
}

.entry-content {
	@import 'entry-content';
}

.featured-content {
	.entry {
		border-bottom-width: 2px;
		border-bottom-style: solid;
	}
}

/* Entry Meta
--------------------------------------------- */

.entry-meta {
	@include rem(font-size, $secondary-font-size);
	margin-bottom: 0;

	span,
	time,
	a {
		@include rem(margin-right, 5px);

		&:last-child {
			margin-right: 0;
		}
	}
}

.entry-header .entry-meta {
	@include rem(margin-bottom, 26px);
}

.entry-footer {

	.entry-meta {
		margin: 0;
		@include rem(padding, 0 0 26px);
	}

	.entry-terms {
		display: block;
		@include rem(padding-bottom, 5px);

		&:last-child {
			padding-bottom: 0;
		}
	}
}

/* Featured Media
--------------------------------------------- */

.featured-media {
	display: block;
	@include clearfix;
	@include respond-to(medium) {
	}

	&.audio {
		@include rem(padding, 20px);
	}

	> a {
		display: block;
		line-height: 0;
	}

	img {
		display: block;
		@include rem(margin, 20px auto);
		border-style: solid;
		border-color: #ffffff;
		@include rem(border-width, 12px);
		@extend %img-shadow;
	}
}
