p,
> ol,
> ul,
> dl {
	@include rem(margin-bottom, 26px);
}

ol,
ul {
	@include rem(margin-left, 40px);
}

li {
	margin-bottom: 2%;
}

ol > li {
	list-style-type: decimal;
}

ul > li {
	list-style-type: disc;
}

li ol,
li ul {
	margin-top: 2%;
}

blockquote {
	@include rem(margin, 30px 0);
	padding: 0 5%;
}

table {
	border-collapse: separate;
	border-left: 0;
	@include rem(margin, 20px 0);
	width: 100%;
}

table th,
table td {
	line-height: 1.2;
	@include rem(padding, 10px);
	text-align: left;
	vertical-align: top;
}

table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
	border-top: 0 none;
}

code {
	@include rem(padding, 2px 4px);
}

.wp-caption .wp-caption-text {
	@include rem(margin, 10px 0);
	@include rem(font-size, $wp-caption-font-size);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
}

.search-form {
	margin-bottom: 30px;
}