/* Theme Icons
--------------------------------------------- */
// Links
a[href^="mailto:"]::before,
a[href^="tel:"]::before,

// Menu
.menu-button::before,

// Media player
.mejs-controls .mejs-button button::after,
.mejs-overlay-button::after,
.media-info-toggle::after,

// Playlists
.wp-playlist-playing .wp-playlist-caption::before,
.wp-playlist-item-meta::before,

// Posts
.entry-author a::before,
.entry-published::before,
.entry-comments-link::before,
.post-edit-link::before,
.entry-permalink::before,
.post-format-link::before,
.entry-terms::before,
.image-sizes::before,
.chat-author cite::before,
.entry-views::before,

// Comments
.comment-published::before,
.comment-edit-link::before,
.comment-author::before,
.comment-permalink::before,
.comment-reply-link::before,
.comment-reply-login::before,

// Comments
#comments-number::before,

// Respond
.comment-reply-title:before,
.comment-respond label[for="author"]::before,
.comment-respond label[for="email"]::before,
.comment-respond label[for="url"]::before,
.comment-respond label[for="comment"]::before {
	display: inline-block;
	font-family: 'FontAwesome';
	@include rem(font-size, $secondary-font-size);
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}

/* Theme Icon Padding
---------------------- */
a[href^='mailto:']::before,
a[href^='tel:']::before,
.entry-author a::before,
.chat-author cite::before,
.entry-published::before,
.entry-comments-link::before,
.post-edit-link::before,
.entry-permalink::before,
.post-format-link::before,
.entry-terms::before,
.image-sizes::before,
.entry-views::before,
.comment-published::before,
.comment-edit-link::before,
.comment-author::before,
.comment-permalink::before {
	padding-right: 3px;
	padding-bottom: 2px;
}

@import "../../../bower/font-awesome/scss/variables";

/* Link Icons
---------------------- */
a[href^='mailto:']::before {
	content: $fa-var-envelope;
}

a[href^='tel:']::before {
	content: $fa-var-phone;
}

/* Menu Icon
---------------------- */
.menu-button::before {
	content: $fa-var-bars;
}

/* Post Icons
---------------------- */
.entry-author a::before,
.chat-author cite::before {
	content: $fa-var-user;
}

.entry-published::before {
	content: $fa-var-calendar;
}

.entry-comments-link::before {
	content: $fa-var-comment;
}

.post-edit-link::before {
	content: $fa-var-pencil;
}

.entry-permalink::before {
	content: $fa-var-link;
}

.entry-terms.post_tag::before {
	content: $fa-var-tags;
}

.entry-terms.category::before {
	content: $fa-var-folder-open;
}

.entry-terms.portfolio::before {
	content: '\f460';
}

.format-standard .post-format-link::before {
	content: $fa-var-link;
}

.format-aside .post-format-link::before {
	content: '\f101';
}

.format-audio .post-format-link::before {
	content: $fa-var-volume-up;
}

.format-chat .post-format-link::before {
	content: $fa-var-comments;
}

.format-gallery .post-format-link::before {
	content: $fa-var-th;
}

.image-sizes::before,
.format-image .post-format-link::before {
	content: $fa-var-camera;
}

.format-link .post-format-link::before {
	content: $fa-var-link;
}

.format-quote .post-format-link::before {
	content: $fa-var-quote-left;
}

.format-status .post-format-link::before {
	content: $fa-var-link;
}

.format-video .post-format-link::before {
	content: $fa-var-film;
}

/* Entry View Icons
---------------------- */
.entry-views::before {
	content: '\f403';
}

/* Comment Entry Icons
---------------------- */
.comment-published::before {
	content: $fa-var-calendar;
}

.comment-author::before {
	content: $fa-var-user;
}

.ping .comment-author::before {
	content: $fa-var-user;
}

.comment-edit-link::before {
	content: $fa-var-pencil;
}

.comment-permalink::before {
	content: $fa-var-link;
}

/* Comment Reply Icons
---------------------- */
.comment-reply-title::before {
	content: $fa-var-long-arrow-right;
	padding: 0 3px 1px 0;
}

.comment-reply-link::before,
.comment-reply-login::before {
	content: $fa-var-link;
	margin-bottom: 3px;
	padding-right: 5px;
}

.comment-respond label[for='author']::before,
.comment-respond label[for='email']::before,
.comment-respond label[for='url']::before,
.comment-respond label[for='comment']::before {
	margin-bottom: 3px;
	padding: 0 5px;
}

.comment-respond label[for='author']::before {
	content: $fa-var-user;
}

.comment-respond label[for='email']::before {
	content: $fa-var-envelope;
}

.comment-respond label[for='url']::before {
	content: $fa-var-link;
}

.comment-respond label[for='comment']::before {
	content: $fa-var-comment;
}

/* Media Info Toggle Icon
---------------------- */
.media-info-toggle::after {
	content: '\f431';
	padding-left: 5px;
	vertical-align: top;
}

.media-info-toggle.active::after {
	content: '\f432';
}

/* Media Player Icons
---------------------- */
.mejs-fullscreen-button button::after {
	content: '\f474';
}

.mejs-play button::after {
	content: '\f452';
}

.mejs-pause button::after {
	content: '\f448';
}

.mejs-volume-button button::after {
	content: '\f109';
}

/* Media Playlist Icons
---------------------- */
.wp-playlist-playing .wp-playlist-caption::before {
	content: '\f452';
}

.wp-playlist-current-item .wp-playlist-item-title::before {
	content: '\f109';
}

.wp-playlist-current-item .wp-playlist-item-album::before {
	content: '\f460';
}

.wp-playlist-current-item .wp-playlist-item-artist::before {
	content: '\f304';
}

.wp-playlist-playing .wp-playlist-caption::before,
.wp-playlist-item-meta::before {
	padding-bottom: 2px;
}

.wp-playlist-item-meta::before {
	padding-right: 3px;
}
