#footer {
	@include rem(font-size, $secondary-font-size);
	line-height: 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}

	.wrap {
		padding: 2em 0;
	}

	&:before {
		display: block;
		content: "";
		height: 108px;
		width: 100%;
		background-position: center top;
		background-repeat: no-repeat;
	}

	&:after {
		display: block;
		content: '';
		height: 2em;
		width: 100%;
	}
}
