.footer-widgets {
	clear: both;
	padding-bottom: 10px;
	padding-top: 40px;

	.widget {
		padding: 0;
	}

	p:last-child,
	ul > li:last-child {
		margin-bottom: 0;
	}

	.entry {
		margin-bottom: 10px;
	}
}