div.gform_wrapper {

	input[type="email"],
	input[type="text"],
	textarea,
	.ginput_complex label {
		@include rem(font-size, $base-font-size);
		padding: 16px;
	}

	.ginput_complex label {
		padding: 0;
	}

	li,
	form li {
		margin: 16px 0 0;
	}

	.gform_footer input[type=submit] {
		@include rem(font-size, $secondary-font-size);
		padding: 16px 24px;
	}
}
