.color-skin .site-container {
	margin-top: 25px;
}

.header {
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}

/* Title Area
--------------------------------------------- */

.site-description,
.site-title {
	margin: 0 auto;
	text-align: center;
}

.skip-link {
	height: 0;
}
