

@font-face {
	font-family: "petals";
	src:url("font/petals.eot");
	src:url("font/petals.eot?#iefix") format("embedded-opentype"),
	url("font/petals.woff") format("woff"),
	url("font/petals.ttf") format("truetype"),
	url("font/petals.svg#petals") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "petals" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="petals-icon-"]:before,
[class*=" petals-icon-"]:before {
	font-family: "petals" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.petals-icon-arrow:before {
	content: "\e802";
}
.petals-icon-leaf:before {
	content: "\e801";
}
.petals-icon-drop:before {
	content: "\e800";
}

.search-form {

	button[type=submit] {

		&::before {
			 font-family: "petals";
			 content: "\e800";
		}

		&::after {
			  font-family: "petals";
			  content: "\e802";
		}
	}
}