

@import "../../../bower/unsemantic/partials/unsemantic-vars";
@import "../../../bower/unsemantic/partials/unsemantic-ie-snap";

/* =========== */
/* All screens */
/* =========== */

@include unsemantic-grid-placeholders;

.header,
.menu-after-header,
.site-inner,
.footer-widgets,
.footer > .wrap {
	@extend %grid-container;
}

.site-inner,
.footer-widgets > .wrap {
	@extend %grid-parent;
}

.header > .wrap,
.footer > .wrap,
.content,
.sidebar-primary,
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4 {
	@extend %grid-columns-all;
}

/* ===================== */
/* "Mobile" screen width */
/* ===================== */

@media screen and (max-width: $media-mobile-max) {
	@include unsemantic-grid-placeholders(mobile);

	.header > .wrap,
	.footer > .wrap,
	.content,
	.sidebar-primary,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		@extend %mobile-grid-100;
	}
}

/* ====================== */
/* "Desktop" screen width */
/* ====================== */

@media screen and (min-width: $media-desktop-min) {
	@include unsemantic-grid-placeholders(desktop);

	.header > .wrap,
	.footer > .wrap {
		@extend %desktop-grid-100;
	}

	.content {
		@extend %desktop-grid-75;
	}

	.sidebar-primary {
		@extend %desktop-grid-25;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		@extend %desktop-grid-25;
	}

}