.menu-after-header {
	@include rem(padding-top, 20px);
	@include rem(padding-bottom, 20px);
}

.after-header-wrap {
	position: relative;
}

.nav-menu.after-header {
	clear: both;
	font-size: .001px;
	line-height: 1;
	width: 100%;
	text-transform: lowercase;
	margin:     0;
	text-align: center;

	li > a {
		display: block;
		@include rem(padding, 25px 15px);

		@include respond-to(medium) {
			padding: 0.4em 1em;
		}
	}

	.menu-item {
		display: inline-block;
		@include rem(font-size, $nav-font-size);
		text-align: left;

		& > a {
		@include respond-to(large) {
				padding: 0.4em 0.6em 0.4em 1.6em;
			}
		}
	}

	& > .menu-item {
		position: relative;
		&::before {
			display: inline-block;
			font-family: "petals" !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\e801";
			position: absolute;
			@include rem(top, 10px);
		}

	}

	[class^="fa-"].menu-item::before,
	[class*=" fa-"].menu-item::before {
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@include rem(padding-right, 4px);
	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		@include rem(width, 150px);
		z-index: $sub-menu-z-index;
		@include transition(all 0.1s ease-in-out);
		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
		border-radius: 3px;
		margin-top: 10px;
		padding-top: 1px;

		a {
			@include rem(font-size, $subnav-font-size);
			@include rem(padding, 10px);
			position: relative;
			@include rem(width, 150px);
			border-top-width: 1px;
			border-top-style: dashed;
			border-right: none;
			border-left: none;
			border-bottom: none;
		}

		li:first-of-type > a {
			border-top: none;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		li:last-of-type > a {
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&:after {
			font-family: Helvetica, Arial, Sans-serif;
			font-size: 25px;
			top: -20px;
			margin-left: 5px;
			content: "\25B2";
			position: absolute;
			pointer-events: none;
			transform: scaleX(2.5);
			width: 0;
			height: 0;
			text-shadow: 0px -4px 2px rgba(0,0,0, 0.3);
			z-index: $sub-menu-z-index + 1;
		}

		.sub-menu {
			@include rem(margin, -55px 0 0 199px);
			box-shadow: 2px 0px 5px 2px rgba(0,0,0,0.3);
			&:after {
				content: "";
			}
		}

	}

	.menu-item:hover,
	.menu-item-hover,
	.menu-item:focus {
		//position: static;
	}

	.menu-item:hover > .sub-menu,
	.menu-item-hover > .sub-menu,
	.menu-item:focus > .sub-menu {
		 left: -10px;
		 opacity: 1;
	}

	.sub-menu {
		.menu-item:hover > .sub-menu,
		.menu-item-hover > .sub-menu,
		.menu-item:focus > .sub-menu {
			left: -60px;
			top: 66px;
		}
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		float: right;
		list-style-type: none;

		> a {
			display: inline;
			padding: 0;
		}
	}

	> .rss > a {
		@include rem(margin-left, 48px);
	}

	> .search {
		@include rem(padding, 10px 0 0);
	}
}


/* After Header Navigation
--------------------------------------------- */

.menu-after-header {
	display: none;

	@include respond-to(medium) {
		display: block;
	}
}

/* Responsive Menu
--------------------------------------------- */

.menu-button {
	display: block;
	float: right;
	@include rem(margin, 17px 17px 0);
	@include rem(padding, 4px 12px);
	border-radius: $base-border-radius;
	@include transition (all .2s ease-in-out);
	cursor: pointer;
	position: relative;
	@include rem(top, -70px);

	@include respond-to(medium) {
		display: none;
	}

	&::before {
		@include rem(font-size, 26px);
	}
}

.sidr {
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: $sidr-z-index;
	@include rem(width, 260px);
	overflow-x: hidden;
	overflow-y: auto;

	& > .menu-item {
		&::before {
			content: ""
		}
	}

	&.right {
		/* @noflip */
		left: auto;
		/* @noflip */
		@include rem(right, -260px);
	}

	&.left {
		/* @noflip */
		@include rem(left, -260px);
		/* @noflip */
		right: auto;
	}

	.nav-menu {
		.menu-item {
			display: block;
		}

		li a {
			padding: $sidr-item-padding;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}
	}

	.sub-menu {
		position: static;
		width: 100%;
		margin: 0;
		background: transparent;
		border-top: 0;
		opacity: 1;
		box-shadow: none;

		li a {
			width: auto;
			padding: $sidr-item-padding;
			padding-left: $sidr-item-padding + em(10);
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		.sub-menu {
			margin: 0;

			li a {
				padding-left: $sidr-item-padding + em(20);
			}
		}
	}
}


/* Pagination
--------------------------------------------- */

.pagination {
	margin-bottom: 20px;
	text-align: center;
	display: block;

	.page-numbers {
		@include transition (all .2s ease-in-out);
		border-radius: $base-border-radius;
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 20px;
		border-width: 1px;
		border-style: solid;
	}

	.next:before {
		content: '\2192';
	}

	.prev:before {
		content: '\2190';
	}
}

.rtl {
	.pagination .next:before {
		content: '\2190';
	}

	.pagination .prev:before {
		content: '\2192';
	}
}

/* Single Entry Pagination
--------------------------------------------- */

.nav-single {
	display: block;
	clear: both;
	margin-bottom: 20px;
	padding: 0;
	overflow: hidden;
	@include rem(font-size, $pagination-font-size);
	text-transform: uppercase;
	letter-spacing: 1px;
	@include rem(padding, 5px 0);

	.nav-next,
	.nav-previous {
		position: relative;
	}

	.nav-next a,
	.nav-previous a {
		display: block;
		margin: 0;
		text-align: center;
		@extend .button;
		&:after {
			@extend .button-frame;
			content: "";
			height: 100%;
			width: 100%;
		}
	}

	.nav-next a {
		margin-right: 5px;
		&:after {
			top: 0;
			left:  -2px;
		}
	}

	.nav-previous a {
		margin-left: 5px;
			&:after {
				top: 0;
				left:  2px;
			}
	}

	@include respond-to(medium) {
		.nav-previous {
			float: left;
		}

		.nav-next {
			float: right;
		}
	}
}

/* Page Links
--------------------------------------------- */

.page-links {
	margin: 30px 0;
	display: block;

	span,
	a {
		@include transition (all .2s ease-in-out);
		border-radius: $base-border-radius;
		display: inline-block;
		padding: 5px 15px;
		border-width: 1px;
		border-style: solid;
	}
}
