/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {

	input {
		@include rem(font-size, $secondary-font-size);
		margin-bottom: 16px;
	}

	input[type="submit"] {
		margin: 0;
		width: 100%;
	}
}

.enews form + p {
	margin-top: 24px;
}
