.sidebar {
	@include rem(font-size, $secondary-font-size);

	li {
		position: relative;
	}

	p:last-child,
	ul > li:last-child {
		margin-bottom: 0;
	}

	.widget_search {

		.widget-title {
			margin: 0;
			padding: 15px 15px 0;
		}
	}
}
