// soliloquy slider plugin
.widget .soliloquy-container {
	margin: 0 auto 60px;
}

.soliloquy-theme-pink-petals {

	.color-skin .widget &.soliloquy-container {
		margin-bottom: 115px;
	}

	.soliloquy-wrapper {
		border: 14px solid #ffffff;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
		.color-skin  &:before {
			content: "";
			display: block;
			z-index: -100;
			width: 291px;
			height: 129px;
			position: absolute;
			bottom: -65px;
			left: 5px;
		}
		.color-skin  &:after {
			content: "";
			display: block;
			z-index: -100;
			width: 161px;
			height: 450px;
			position: absolute;
			top: 15px;
			right: -85px;
		}
	}

	&.soliloquy-container .soliloquy-next,
	&.soliloquy-container .soliloquy-prev {
		background-color: transparent;
	}
}