.widget-title {
	@include rem(font-size, $widget-title-size);
	font-weight: 600;
	margin-bottom: 20px;
}

.widget {
	margin-bottom: 30px;
	word-wrap: break-word;

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget_calendar table {
	width: 100%;

	td,
	th {
		text-align: center;
	}
}

/* Featured Content
--------------------------------------------- */

.featured-content {

	.entry {
		margin-bottom: 20px;
		padding: 0 0 24px;
	}

	.entry-title {
		font-size: 20px;
	}
}
